body{
    background-color: #77c850;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.top{
    margin:0 15rem;
    
}
.fas {
    margin: 1rem;
}
.nameAndId{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.namePokemon{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 3rem;
    text-transform: capitalize; 
}
.idPokemon{
    margin: 0;
    margin-right: 5rem;
    padding: 0;
    color: #fff;
    opacity: 70%;
}
.types{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-right: 0;
    text-align: left;
    
}
.type{
    color: #fff;
    font-size: 1rem;
    margin-left: 3rem;
 }

.pokemonPicture{
    display: flex;
    justify-content:center;
}
.picture{
    max-width: 100%;/*não sair do tamamnho maximo*/
    height: 170px;
}
.bottom{
    background-color: #fff;
    border-radius: 15% 15% 0 0;
    margin: 0;
    padding: 3rem 5rem;
}
.datailsContent{
    padding: 0;
    margin: 1rem 3rem 1rem 3rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.table{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.tableHead{
    list-style: none;
    padding: 1rem;
    font-weight: bolder;
}
.tableHead .line{
    padding: 1rem 0 1rem  0;
    color: darkslategrey;
}

.tableData{
    list-style: none;
    padding: 1rem;
    color: darkgreen;
}
.tableData .line{
    padding:  1rem 0 1rem  0;
}
.titleDetail{
    text-align: center;
    color: darkslategrey;
    margin-bottom: 2rem;
}
.weakness{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    display: grid;/*alinhamento em colunas*/
    grid-template-columns: 1fr 1fr;/*1frame por um frame, divide a tela em 1 frame apenas*/

}
.oneWeakness{
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 1rem;
    background-color: #77c850;
    border-radius: 20%;
    color: darkgreen;
}

.evolutionContent{
    text-align: center;
}
.evolution{
    /*display: flex;
    flex-direction: row;
    */list-style: none;
    justify-content: center;
    display: grid;/*alinhamento em colunas*/
    grid-template-columns: 1fr 1fr 1fr; 
}
.pokemonPictureEvolution{
    max-width: 100%;/*não sair do tamamnho maximo*/
    height: 100px;
    padding-right: 1rem;
    padding-left: 1rem;
}